<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LearnC# - Profile</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/auth.css">
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li class="dropdown">
          <a class="dropbtn" href="../">LearnC#</a>
          <% if(profile.role === 'Admin') { %>
            <div class="dropdown-content">
              <a href="assign">Assign</a>
            </div>
          <% } %>
        </li>
        <li><a href="structure">Basic Structure</a></li>
        <li><a href="variables">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output">Output</a>
            <a href="input">Input from user</a>
          </div>
        </li>
        <li><a href="selections">Selections</a></li>
        <li><a href="arrays">Arrays</a></li>
        <li><a href="methods">Methods</a></li>
        <li><a href="structs">Structs</a></li>
        <li class="active login"><a href="login">Login</a></li>
      </ul>
    </nav>

    <article>
      <div class="profile_interface">
        <p class="profile_interface_title"><%= profile.user%></p>
        <p class="user_role">Role: <%= profile.role%></p>
        <p class="user_data">Submited Comments: <%= profile.comments.submited%></p>
        <p class="user_data">Deleted Comments: <%= profile.comments.deleted%></p>
        <p class="user_data">Pinned Comments: <%= profile.comments.pinned%></p>
        <div class="rename_form">
          <p class="message"><%= message%></p>
          <p class="rename_form_title">Rename Username</p>
          <input class="rename_user_input" type="username" name="username" placeholder="Username">
          <br>
          <button class="rename_user_btn" type="button" name="button">Rename</button>
        </div>
        <div class="rename_form">
          <p class="rename_form_title">Rename Password</p>
          <input class="rename_password_input" type="password" name="password" placeholder="Password">
          <br>
          <button class="rename_password_btn" type="button" name="button">Rename</button>
        </div>
      </div>
    </article>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../js/send-profile.js" ></script>
  </body>
</html>
