<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LearnC# - Basic Structure</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/validate.js"></script>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li class="dropdown">
          <a class="dropbtn" href="../">LearnC#</a>
          <% if(user && user.role === 'Admin') { %>
            <div class="dropdown-content">
              <a href="assign">Assign</a>
            </div>
          <% } %>
        </li>
        <li class="active"><a href="structure">Basic Structure</a></li>
        <li><a href="variables">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output">Output</a>
            <a href="input">Input from user</a>
          </div>
        </li>
        <li><a href="selections">Selections</a></li>
        <li><a href="arrays">Arrays</a></li>
        <li><a href="methods">Methods</a></li>
        <li><a href="structs">Structs</a></li>
        <li class="login"><a href="login">Login</a></li>
      </ul>
    </nav>
    <article>
      <h2 class="title">1. Basic structure of a C# program</h2>
      <section>
        <p class="overview">A basic C# program is categorized in namespaces, classes and methods.
          The following example shows the basic skeleton of a C#-program:</p>
<pre class="code">
namespace Introduction
{
    class program
    {
            static void Main()
            {

            }
    }
}</pre>
        <p>In the beginning you write all commands between the brackets of the "<strong class="command">static void Main()</strong>"-method.</p>
      </section>
      <section class="comment-section" >
        <p class="message"><%= message%></p>

        <div id="search_form">
          <textarea class="searchtext" name="search" placeholder="Type in for what you wanna search"><%= pattern%></textarea>
          <br>
          <button class="search_button" type="button" name="button">Search</button>
        </div>

        <div id="comment_form">
            <textarea class="text" name="text" placeholder="Type in your comment"></textarea>
            <button class="submit_button" type="button" name="button">Submit</button>
        </div>
        <% let switching = 1 %>
        <%for(let i = 0;i < comments.length;i++) {%>
          <% if((switching === 1 && comments[i].info.isPinned) || (switching === 0 && !comments[i].info.isPinned)) { %>
              <form class="comment">
                <div class="comment_header">
                  <%if(user && (comments[i].info.user === user.user || user.role === 'Admin' || user.role === 'Moderator')) {%>
                    <button class="comment_btn delete_button" value="<%= i %>" type="button" name="delete_button">DELETE</button>
                  <% } %>

                  <% if(user && (user.role === 'Admin' || user.role === 'Moderator' || user.role === 'Helper')) {%>
                    <% let pin = 'PIN'%>
                    <% if(comments[i].info.isPinned) {%>
                      <% pin = 'DEPIN' %>
                    <% } %>
                    <button class="comment_btn pin_button" value="<%= i %>" type="button" name="pin_button"><%= pin %></button>
                  <% } %>

                  <p class="comment_user"><%= comments[i].info.user%></p>
                  <p class="comment_date">| <%= comments[i].info.date %></p>
                  <% if(comments[i].info.isPinned) {%>
                    <p class="comment_pinned">pinned</p>
                  <% } %>
                  <p class="comment_whitespace">.</p>
                </div>
                <pre class="comment_text"><%= comments[i].text %></pre>
              </form>
          <%}%>
          <% if(switching === 1 && i === comments.length-1) { %>
            <% i = -1 %>
            <% switching = 0 %>
          <% } %>
        <%}%>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="../js/send-forum.js" ></script>
      </section>
    </article>
  </body>
</html>
