<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LearnC# - Basic Structure</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/validate.js"></script>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="../">LearnC#</a></li>
        <li class="active"><a href="structure">Basic Structure</a></li>
        <li><a href="variables">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output">Output</a>
            <a href="input">Input from user</a>
          </div>
        </li>
        <li><a href="selections">Selections</a></li>
        <li><a href="arrays">Arrays</a></li>
        <li><a href="methods">Methods</a></li>
        <li><a href="structs">Structs</a></li>
        <li class="login"><a href="login">Login</a></li>
      </ul>
    </nav>
    <article>
      <h2 class="title">1. Basic structure of a C# program</h2>
      <section>
        <p class="overview">A basic C# program is categorized in namespaces, classes and methods.
          The following example shows the basic skeleton of a C#-program:</p>
<pre class="code">
namespace Introduction
{
    class program
    {
            static void Main()
            {

            }
    }
}</pre>
        <p>In the beginning you write all commands between the brackets of the "<strong class="command">static void Main()</strong>"-method.</p>
      </section>
      <section class="comment-section" >
        <p class="message"><%= message%></p>

        <form id="search_form" action="/views/structure" method="post">
          <textarea class="searchtext" name="searchtext" placeholder="Type in for what you wanna search"><%= pattern%></textarea>
          <br>
          <button type="submit" name="button">Search</button>
        </form>

        <form id="comment_form" action="/views/structure" method="post">
            <textarea class="text" name="text" placeholder="Type in your comment"></textarea>
            <button onclick="validate_comment_input()" type="button" name="button">Submit</button>
        </form>

        <% let comments = array%>
        <%for(let i = 0;i < array.length;i++) {%>
          <form class="comment" action="/views/structure" method="post">
            <div class="comment_header">
              <%if(array[i].info.user === user) {%>
                <button class="comment_delete" value="<%= i %>" type="submit" name="delete_button">DELETE</button>
              <% } %>
              <p class="comment_user"><%= array[i].info.user%></p>
              <p class="comment_date">| <%= array[i].info.date %></p>
            </div>
            <p class="comment_text"><%= array[i].text %></p>
          </form>
        <%}%>
      </section>
    </article>
  </body>
</html>
